html::-webkit-scrollbar{display:none} *{padding:0;list-style:none}
i{font-size:18px;color:#fff}
body{font-family:'Microsoft YaHei',Tahoma,Helvetica,Arial,sans-serif;background:#000}
main{max-width:2000px}
a,a:visited,a:active{text-decoration:none;color:#c0c0c0}
nav{position:fixed;display:flex;top:-10px;z-index:2;width:100%; max-width:78em;padding:19px 2px;background:#000}
#s-menu{padding:10px;position:fixed;left:17px;top:8px;border:none;outline:none;color:#c0c0c0}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;background:url("http://wx1.sinaimg.cn/large/6f0785d9ly1g2p8w56wccg200c00901q.gif") no-repeat 105% 50%}
option{color:#c0c0c0;background:#000}
#Searchbox{flex:1 1 auto;line-height:2em;border:1px solid #666;border-radius:30px;outline:#fff;text-indent:4.8rem;font-size:1.1rem;background:#000;color:green}
#Searchbox:hover{box-shadow: 0 1px 9px #666}
nav button{flex:0 0 25px;position:relative;top:2px;right:34px;
	background:transparent;color:#c0c0c0;border-style:none;outline:none;cursor:pointer}
.t1{width:2em;height:2.5em;line-height:2.5em;color:#666}
main{padding-top:6vh;padding-left:5px}
#list{display:inline-block;margin-top:0}
#list>li{float:left;margin:.3vh;text-align:center;border:.5px solid #191919;border-radius:9px;}
#list li a{display:block;line-height:2.5em;min-width:7em;}
#list a:hover{color:green}
#list:hover .t1{color:green}
.submenu{position:relative}
.sublist{position:absolute;display:none;background:#000;outline:.1px solid #1f1f1f;padding:.3em}
.submenu:hover .sublist{display:block;z-index: 1}
.submenu-up {position:relative;}
.submenu-up:hover .sublist{display:block;bottom:40px;z-index:1}
#sidebar{position:fixed;bottom:2vw;right:3vh;text-align:center;border:1px solid #666;background:#000}
#sidebar li a{display:block;padding:.6em;border-bottom:1px solid #666}
#sidebar li a:hover{color:green}
.sidebar-submenu{position:relative}
.sidebar-submenu:hover .sublist{display:block;z-index:3;bottom:-1rem;right:37px;width:5.5rem}
#themes{display:block;position:fixed;top:5em;right:1.5em;text-align:center}
#themes li{margin:.8em 0;padding:5px}
#themes:hover .sublist{display:block;position:absolute;right:1px}
@media screen and (max-width:800px){
    #list{margin-top:1em}
    #list li{width:9.5em;clear:left;text-align:left;text-indent:1.5em}
    .t1 i{position:relative;left:-22px}
    #list li a{display:inline}
    .submenu::before,.submenu-up::before{
        content: '';
        width:4px;
        height:4px;
        position:absolute;
        left:132px;top:18px;
        border:solid #c0c0c0;
        border-width:0 1px 1px 0;
        transform:rotateZ(45deg)
    }
    #sidebar{border:.5px solid #666}
    #sidebar li a{border-bottom:.5px solid #666}
}